# afritið þessa skrá og breytið nafninu yfir í "env" ATH ekki ".env"
#
# til að nota localhost með emulator setjið
# BASE_URL="http://10.0.2.2:8080"

# til þess að nota remote server setjið
# BASE_URL="https://golfskor.onrender.com"

# og að lokum til að nýta eigin tölvu sem server fyrir síma
# BASE_URL="http://<local-ip-address>:8080"
